Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-implicit-bool-conversion,
  -readability-convert-member-functions-to-static

WarningsAsErrors: ''
HeaderFilterRegex: 'include/tachyon/.*'
AnalyzeTemporaryDtors: false
FormatStyle: none
